build/
.gradle/
.DS_Store
/Debug/
krypto-lib/libs/googleTest/1.7.0/lib/osx/
krypto-lib/libs/googleTest/1.7.0/lib/linux/
libs/googleTest/1.7.0/lib/osx/
libs/googleTest/1.7.0/lib/linux/
gtest-1.7.0/CMakeCache.txt
gtest-1.7.0/CMakeFiles/
gtest-1.7.0/Makefile
gtest-1.7.0/cmake_install.cmake
gtest-1.7.0/libgtest.a
gtest-1.7.0/libgtest_main.a
krypto-lib/krypto.xcodeproj/project.xcworkspace/xcuserdata/mtamayo.xcuserdatad/UserInterfaceState.xcuserstate
krypto-api/src/main/resources/libmain.dylib
krypto-api/src/main/resources/libmain.so
krypto.sublime*
.idea/
*.iml
